* {
    font-family:sans-serif;
}

body {
    text-align: center;
    background-color: rgb(229, 236, 132);
    color: rgb(61, 45, 10);
    font-size: 1.5em;
}


fieldset {
    width: 50%;
    margin: auto;
}

#title {
   text-align: center;
   color: rgb(98, 112, 74);
}

#description {
    font-size: 1.5em;


}


#name-label, #email-label, #number-label, #fav-sloth, #sloth-love, .sloth-food, .sloth-statements {
    font-weight: bolder;
    display: block;
    padding: 5px;
  
}

#name, #email, #number {
    width: 50%;
    height: 20px;
}

#sloth-comments {
    width: 50%;
    height: 50px;
}

